<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">call</mat-icon>
  <span class="px-1"><a href="tel:+1 (678) 541-4793" style="color: white;">+1 (678) 541-4793</a></span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">location_on</mat-icon>
  <span class="px-1"><a href="https://goo.gl/maps/MGeMDVoRyYeAS8Mu5" target="_blank" style="color: white;">4942 bramblewood Circle  Sugar Hill Ga 30518</a></span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">mail</mat-icon>
  <span class="px-1">
    <a href="mailto:alboradahouserb@gmail.com" style="color: white;">alboradahouserb@gmail.com</a>
  </span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <svg class="mat-icon" viewBox="0 0 24 24" [ngClass]="['mat-icon-' + iconSize, 'mat-'+ iconColor]">
    <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
  </svg>
  <span class="px-1"><a href="https://www.facebook.com/profile.php?id=100086620599382" style="color: white;">Facebook</a></span>
</span>
