<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">call</mat-icon>
  <span class="px-1"><a href="tel:+1 (678) 541-4793" style="color: white;">+1 (678) 541-4793</a></span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">location_on</mat-icon>
  <span class="px-1"><a href="https://goo.gl/maps/MGeMDVoRyYeAS8Mu5" target="_blank" style="color: white;">4942 bramblewood Circle  Sugar Hill Ga 30518</a></span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">mail</mat-icon>
  <span class="px-1"><a href="mailto:alboradahouserb@gmail.com" style="color: white;">alboradahouserb@gmail.com</a></span>
</span>
