<div class="section agents">
  <div class="px-3">
    <div class="theme-container">
      <h1 class="section-title">{{ 'AGENTS.A_TITLE' | translate }}</h1>

      <div class="container-agents"> 
        <div class="contact-us">
          <div class="text-container">
            <p>Let our experienced team help you buy or sell your dream home</p>
            <a mat-raised-button color="primary" routerLink="/contact">{{ 'NAV.CONTACT' | translate }}</a>  
          </div>
        </div>
        <div class="container-agents-box"> 
            <mat-card>
              <img class="mat-card-image" src="../../../assets/images/agents/realstate.jpg" max-width="350" alt="">
            </mat-card>
        </div>
      </div>
    </div>  
  </div>
</div>  


 